.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(150, 150, 150, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: var(--color-text);
}

.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: var(--color-nav);
    border-radius: 0.5em;
}

.content-modal p{
    padding: 15px 0px;
    border-bottom: 1px solid var(--color-text);
}

#btns{
    display: flex;
    gap: 1em;
}

.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
}

.content-modal .btn-aceptar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    padding-left: 2em;
}

.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: var(--color-text);
    color: var(--color-nav);
    border-radius: 0.5em;
    cursor: pointer;
}

.content-modal .btn-aceptar label{
    padding: 7px 10px;
    background-color: var(--color-text);
    color: var(--color-nav);
    border-radius: 0.5em;
    cursor: pointer;
}

.content-modal .btn-cerrar label:hover{
    background-color: var(--color-aux2);
}
.content-modal .btn-aceptar label:hover{
    background-color: var(--color-aux2);
}


@media (max-width:500px) {
    .content-modal{
        width: 60%;
    }

    .content-modal .btn-cerrar{
        padding-right: 0;
    }

    .content-modal .btn-aceptar{
        padding-left: 0;
    }
}

#msg-error a{
    text-decoration: none;
    color: var(--color-aux2);
    text-decoration: underline;
}
